APP_NAME=
APP_VERSION=

BASE_API_PATH = "/api/v1"
ORIGINS=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

FIRST_ADMIN_EMAIL=
FIRST_ADMIN_PASSWORD=

ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
SECRET_KEY=
ALGORITHM=


DEBUG=

DEEPFACE_SERVICE_URL=
FACE_EMBEDDING_DIMENSION=
FACE_EMBEDDING_MODEL=
DISTANCE_THRESHOLD=
RECOGNITION_COOLDOWN_MINUTES=

DEEPFACE_API_URL=

KIOSK_REFRESH_TOKEN_EXPIRE_DAYS=
KIOSK_ACTIVATION_CODE_EXPIRE_MINUTES=