APP_NAME=
APP_VERSION=

ORIGINS=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
SECRET_KEY=
ALGORITHM=

FIRST_ADMIN_EMAIL=
FIRST_ADMIN_PASSWORD=

DEBUG=